<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Joy is the happiness in technology</h1>
      <p class="lead fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tempora voluptas minima eum, numquam delectus ipsa voluptatum assumenda dicta quaerat deleniti maxime doloribus laboriosam ratione incidunt error amet ducimus enim cumque ad laudantium aliquid architecto! Eligendi, facere. Omnis, ab obcaecati?</p>
      <a class="btn btn-outline-danger" routerLink='/login-form'>Valuation test</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
        <img [src]="pic1" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium, magnam non quas iusto similique veniam, expedita culpa, odio voluptates omnis blanditiis praesentium illum optio repudiandae sed at? Accusamus, illo?</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
       
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore laboriosam nostrum facilis optio quibusdam sequi natus dolore id necessitatibus non molestias libero blanditiis quisquam quia, voluptates sint, cumque consequuntur ipsum.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
       
      </div>
    </div>
  </div>